h3{
    color: brown;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#unordered{
    color: brown;
    color: #FF8C00
}

.box{
    color: blue;
    border: 1px solid black;
    width: 5%;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-left: 30px;
    margin-top: 50px;
}

.container{
    margin-top: 150px;
    border: 1px solid blue;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding: 50px;

}
.members{
    border: 1px solid black;
    padding: 30px;
}

.members:hover{
    background-color: yellow;
    transform: scale(1.2);
    transition: transform 0.3s ease;
}